.Main {
    font-size: 3rem;
    color: #303960;
    background-color: #aacfcf;
    border-radius: 15px;
    padding: 15px;
    width: 44%;
    margin: 20px auto;
    box-shadow: -2px -4px 2px #444 inset;
    text-shadow: 2px 2px 2px #bbb;
    font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 785px) {
    .Main {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .Main {
        width: 70%;
        margin: 15px auto;
    }
}